#p
{
    color: rgb(255, 255, 255);
    background-color: rgb(37, 112, 149);
    border-radius: 3.7rem;
}

#p:hover
{
    color: white;
    background-color: rgb(16, 49, 65);
    border-radius: 3.7rem;
}

.introduction {
    height: 10vh;
    font-size: 6vh;
    background-color: rgb(62, 144, 212);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
}

.overview
{
    margin-top: 10vh;
    margin-left: 20vw;
    margin-right: 20vw;
}

.overview h3
{
    font-size: 4vh;
    color: rgb(63, 130, 255);
}

.overview p
{
    margin-top: 2vh;
    font-size: 2vh;
}

.overview button a
{
    color: white;
    text-decoration:none;
}

.overview button
{
    margin-top: 2vh;
    width: 100%;
    height: 5vh;
    font-size: 2vh;
    color: white;
    font-weight: bold;
    background-color: rgb(63, 130, 255);
    border: transparent;
    border-radius: 5px;
}

.overview button:hover
{
    cursor: pointer;
}

.coordinator
{
    margin-top: 8vh;
    margin-left: 20vw;
    margin-right: 20vw;
    margin-bottom: 2rem;
}

.coordinator-title
{
    margin-bottom: 3vh;
    font-size: 3vh;
    font-weight: bold;
    color: rgb(183, 52, 52);
    font-family: monospace;
}

.view img
{
    width: 40rem;
    height: 40rem;
    display: inline;
    flex-shrink: 0;
}

.view
{
    display: flex;
    column-gap: 20px;
}

.view div p
{
    font-size: 2vh;
    margin-bottom: 20px;
}

.regards
{
    margin-left: 20vw;
    font-size: 2vh;
    margin-bottom: 5rem;
}

.regards p
{
    margin-top: 10px;
}

@media only screen and (max-width: 700px) {
    .introduction {
        font-size: 4vh;
    }
}

@media only screen and (max-width: 1000px)
{
    .overview
    {
        margin-top: 10vh;
        margin-left: 10vw;
        margin-right: 10vw;
    }
}

@media only screen and (max-width: 1300px)
{
    .coordinator
    {
        margin-left: 10vw;
        margin-right: 10vw;
    }
    .regards
    {
        margin-left: 10vw;
    }
}

@media only screen and (max-width: 930px)
{
    .view
    {
        display: flex;
        flex-direction: column;
        column-gap: 20px;
    }
    .dear
    {
        margin-top: 20px;
    }
    .view img
    {
        width: 30rem;
        height: 30rem;
    }
}