#h {
    color: rgb(255, 255, 255);
    background-color: rgb(37, 112, 149);
    border-radius: 3.7rem;
}

#h:hover {
    color: white;
    background-color: rgb(16, 49, 65);
    border-radius: 3.7rem;
}

.introduction {
    height: 10vh;
    font-size: 6vh;
    background-color: rgb(62, 144, 212);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
}

.image-slider-holder {
    position: relative;
    background-color: rgb(199, 232, 245);
}

.image-slider {
    position: relative;
    width: 60vw;
    height: 44vh;
    margin: auto;
    margin-top: 4vh;
    margin-bottom: 4vh;
    overflow: hidden;
}

.slide {
    left: 0;
    position: absolute;
    top: 0;
    object-fit: cover;
    transition: 1s;
    width: 100%;
    height: 100%;
}

.image-move-button {
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    margin-left: 10vw;
    margin-right: 10vw;
}

.image-move-button button {
    width: 4vw;
    height: 2vw;
    font-size: 2vh;
    background-color: hsl(209, 100%, 56%);
    color: white;
    border: none;
    border-radius: 10px;
}

.image-move-button button:hover
{
    cursor: pointer;
    background-color:hsl(209, 100%, 50%);
}


.intro p,
.intro p h3 {
    margin-top: 5vh;
    margin-left: 10vw;
    width: 80vw;
    font-size: 3vh;
    font-family: sans-serif;
    text-align: center;
}

.intro
{
    background-color: hsl(209, 100%, 84%);
    border-radius: 30px;
}

.intro span {
    display: inline;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 5vh;
}

.showoff {
    display: flex;
    margin-left: 8vw;
    margin-top: 10vh;
    margin-bottom: 10vh;
    column-gap: 1vw;
}

.box {
    width: 20vw;
    height: 20vh;
    text-align: center;
}

.box h3 {
    color: rgb(8, 97, 180);
    font-size: 6vh;
}

.box span
{
    color: rgb(230, 62, 62);
    font-size: 3vh;
}

.box p
{
    font-size: 2vh;
}

.why-study
{
    width: 100%;
    margin-top: 10vh;
    height: 80vh;
}

.why
{
    text-align: center;
    font-size: 7vh;
    margin: auto;
    margin-bottom: 6vh;
    border-bottom: 2px solid gray;
}

.reasons
{
    display: grid;
    grid-template-columns: 22vw 22vw 22vw;
    grid-template-rows: 27.5vh 27.5vh;
    /* flex-wrap: wrap; */
    width: 70vw;
    height: 55vh;
    margin: auto;
    column-gap: 2vw;
    row-gap: 4vw;
}

.reasons div h4
{
    font-size: 2vh;
    color: rgb(240, 47, 47);
    margin-bottom: 10px;
}

@media only screen and (max-width: 700px) {
    .introduction {
        font-size: 4vh;
    }

    .college-image {
        width: 40vw;
        height: 40vw;
    }

    .college-image img {
        width: 40vw;
        height: 40vw;
    }
}

@media only screen and (max-width: 960px) {
    .showoff {
        flex-direction: column;
    }

    .box {
        width: 80vw;
        height: 20vh;
        text-align: center;
    }
}


@media only screen and (max-width: 1024px) {
    .image-slider {
        width: 100vw;
        height: 44vh;
    }

    .image-move-button {
        top: 50%;
    }

    .image-move-button button {
        width: 6vw;
        height: 4vw;
        font-size: 2vh;
        background-color: hsl(209, 100%, 56%);
        color: white;
        border: none;
        border-radius: 10px;
    }
}

@media only screen and (max-width: 702px) {
    .image-move-button button {
        width: 8vw;
        height: 6vw;
    }
}

@media only screen and (max-width: 496px) {
    .image-move-button button {
        width: 15vw;
        height: 10vw;
    }
}

@media only screen and (max-width: 1185px)
{
    .why-study
    {
        height: 100vh;
    }
    .reasons
    {
        /* border: 2px solid black; */
        /* margin-left: 10vw; */
        /* margin-right: 10vw; */
        width: 90vw;
        /* display: grid; */
        /* grid-template-columns: 40vw 40vw; */
        display: flex;
        flex-direction: column;
    
        column-gap: 3vw;
    }

    .reasons div
    {
        /* border: 2px solid black; */
        width: 90vw;
    }
}

@media only screen and (max-width: 400px)
{
        .why-study
        {
            height: 120vh;
        }
}